:root{
    --primary:#fff;
}

.btn{
    padding: 0.5rem 1.25rem;
    border-radius:0.125rem;
    outline:noe;
    border:none;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--primary);
    color:#242424;
    border: 1px solid var(--primary);
}

.btn-outline{
    background-color: transparent;
    color:var(--primary );
    padding: 0.5rem 1.25rem;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.btn-medium{
    padding: 0.5rem 1.25rem;
    font-size: 1.25rem;

}

.btn-large{
    padding: 0.5rem 1.625rem;
    font-size: 1.25rem;

}

.btn-medium:hover,
.btn-large:hover{
    background-color: #fff;
    color: #242424;
    transition: all 0.3s ease-out;

}