video{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

.hero-container{
    /* background: url('/images/img-home.jpg') center center/cover no-repeat;  */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow:  inset 0 0 0  100px rgba(0, 0, 0, 0.2);
    justify-content: center;
    margin-top: -20px;


}

.hero-container > h1{
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    text-align: center;
}

.hero-btns{
    margin-top: 32px;
}

.hero-btns .btn{
    margin: 6px;
}


.hero-container > p{
    color: #fff;
    font-size: 32px;
    margin-top: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.fa-play-circle{
    margin-left: 8px;
}

@media screen and (max-width:960px){
    .hero-container > h1{
        color: #fff;
        font-size: 70px;
        margin-top: -150px;
    }
}

@media screen and (max-width:760px){
    .hero-container > h1{
        color: #fff;
        font-size: 50px;
        margin-top: -100px;
    }

    .hero-container > p{
       
        font-size: 30px;
    }

    .btn-mobile{
        display: block;
        text-decoration: none;
    }
    .btn{
        width: 100%;
    }
}