.navbar {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 60px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
   top: 0;
    z-index: 999;
    width: 100vw;
  }
 .navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    max-width: 1500px;
  }

.navbar-logo { 
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    width: 20vw;
  }

 .fa-coffee { 
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
 
.nav-menu { 
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }

 .nav-item {
    height: 80px;
  }

 .nav-links { 
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-weight: 700;
  }
  
.nav-links:hover { 
    border-bottom: 6px solid #fff;
    transition: all 0.2s ease-out;
  }
 
  

 .fa-bars {
    color: #fff;
  }
  
  .nav-links-mobile {
    display: none;
  }
  
   
  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 960px) {
  .NavbarItems {
      position: relative;
    }
  
   .nav-menu { 
      display: flex;
      flex-direction: column;
      width: 100%;
      /* height: 90vh; */
      position: absolute;
      top: 60px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    
    }

    .form-control{
      width: 75vw;
      padding: 1rem;
      justify-self: end;
    }

 
    .nav-menu.active {
      position: absolute;
      background: #242222;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      top: 100;
    }

    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: block;
      
    }

    .nav-links:hover {
      background-color: #fff;
      color: #242424;
      border-radius: 0;
    }

    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
      top: -10px;
    }
    
    .menu-icon {
      display: flex;
      position: absolute;
      top: -10px;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

 

    .fa-times, .fa-bars {
      color: #fff;
      font-size: 2rem;
     margin-right: 1rem;
   
    }

    .fa-search{
      color: #fff;
      font-size: 2rem;
    }
   
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: #fff;
      color: #242424;
      transition: 250ms;
    }
  }